!!! 5
%html
  %head(lang="zh-cn")
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %meta(name="format-detection" content="telphone=no")
    %title audio
    %link(href="css/audio.css" rel="stylesheet")
  %body
    #view
      #stage
        #play
        %input#volume(type="range" min="0" max="100")
        %input#time(type="range")
      #curtain
        %span#name 文件名
  %script(src="js/audio/audio.js")