!!! 5
%html
  %head(lang="zh-cn")
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %meta(name="format-detection" content="telphone=no")
    %title audio
    %link(href="css/audio.css" rel="stylesheet")
  %body
    #view
      #stage
        #play
          %img#play-icon(src="./img/pause.png" )
        %input#time(type="range")
        #control
          #name
          %img#loop(src="./img/loop.png")
          #leng
          %img#volume-icon(src="./img/volume.png")
          %input#volume(type="range" min="0" max="100")
  %script(src="js/audio/audio.js")