!!! 5
%html
  %head(lang="zh-cn")
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %meta(name="format-detection" content="telphone=no")
    %title image
    %link(href="css/image.css" rel="stylesheet")
  %body
    #touch
      #left
        #leftCenter
      #right
        #rightCenter
    #view
      #stage
      #curtain
        #number 0/0
        %span#name 文件名
  %script(src="js/image/image.js")