!!! 5
%html
  %head(lang="zh-cn")
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    %meta(name="format-detection" content="telphone=no")
    %title text
    %link(href="css/text.css" rel="stylesheet")
  %body
    #touch
    #view
      #stage
      #curtain
        #message
        #configTouch
          %img#moreVert(src="./img/more_vert.png" )
          %span#name 文件名
    #configCard
      .config#configSave 存储书签
      .config#configLoad 载入书签
      .config#configNight 夜间模式切换
      .config#configSize 字体大小切换
      .config#configFormat 文档格式化方式切换
  %script(src="js/text/text.js")