@font-face {
  font-family: SourceHan-N;
  src: url(./fonts/SourceHanSansSC-Normal.ttf);
}
@font-face {
  font-family: SourceHan-N;
  unicode-range: U+0-2ff;
  src: url(./fonts/Roboto-Light.ttf);
}

@keyframes ani-config-show{
  0%{
    margin-bottom: -200px;
  }
  100%{
    margin-bottom: 0px;
  }
}
.ani-config-show{
  animation: ani-config-show 0.3s cubic-bezier(0,0,.22,1);
  animation-fill-mode: forwards;
}
@keyframes ani-config-hide{
  0%{
    margin-bottom: 0px;
  }
  100%{
    margin-bottom: -200px;
  }
}
.ani-config-hide{
  animation: ani-config-hide 0.3s cubic-bezier(.63,0,1,1);
  animation-fill-mode: forwards;
}

*{
  margin: 0px;
  padding: 0px;
}
body{

}
#view{
  width: 100%;
  position: absolute;
}
#touch{
  position: fixed;
  z-index: 100;
  #left{
    position: absolute;
    width: 50%;
    height: 100%;
    #leftCenter{
      position: absolute;
      height: 60%;
      width: 50%;
      left: 50%;
      top: 20%;
    }
  }
  #right{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    #rightCenter{
      position: absolute;
      height: 60%;
      width: 50%;
      top: 20%;
    }
  }
}
#stage{
  position: absolute;
  width: 100%;
  margin-bottom: 24px;
  overflow: hidden;
  img{
    position: absolute;
  }
}
#curtain{
  position: fixed;
  width: 100%;
  bottom: 0px;
  height: 24px;
  background-color: #ffffff;
  font-family: SourceHan-N;
  #name{
    font-size: 16px;
    float: right;
    padding: 4px;
  }
  #number{
    font-size: 16px;
    float: right;
    padding: 4px;
  }
}
